@*
the keyword model is used to get the passed value and save it in Model
@sign is used to allow us to insert c# code
*@
@model List<Category>
@if (TempData["success"] != null)
{
    <h2 style="color: green;">@TempData["success"]</h2>
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-primary">
                    <th class="text-body">
                        Category Name
                    </th>
                    <th class="text-body">
                        Display Order
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.OrderBy(c => c.DisplayOrder))
                {
                    <tr>
                        <td class="text-body">@category.Name</td>
                        <td class="text-body">
                            @category.DisplayOrder
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id"
                                    class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                @*asp-route-id (the word "id" should match the arg of Edit action in the controller)*@
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"
                                    class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>